packaging_format = 2

id = "myddleware"
name = "Myddleware"
description.en = "Open-source data integration platform"
version = "4.2.2~ynh6"

maintainers = ["verzog"]

[integration]
yunohost = ">= 12.0"
architectures = ["amd64", "arm64"]
multi_instance = true
disk = "200M"

    [integration.ram]
    build = "512M"
    runtime = "512M"
    value = "512M"

[requirements]
    [requirements.ram]
    value = "512M"
    build = "512M"
    include_swap = false


[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/Myddleware/myddleware/archive/refs/tags/v4.2.2.zip"
        sha256 = "868846bd790bd6893d45684bc4838e6ac486b481eee4c2123317a413ac1beba9"

    [resources.install_dir]
    default = "/var/www/{app}"

    [resources.data_dir]
    default = "/var/lib/{app}"

[resources.system_user]
name = "{app}"
home = "/var/lib/{app}"

    [resources.permissions]
        [resources.permissions.main]
        url = "/"
        allowed = "visitors"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/myddleware"
