
packaging_format = 2
id = "myddleware"
name = "Myddleware"
version = "4.2.2~ynh3"
description.en = "Myddleware integration platform for YunoHost"

[upstream]
website = "https://myddleware.com"
code = "https://github.com/Myddleware/myddleware"

[integration]
yunohost = ">= 11.1"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
disk = "2G"
ram.build = "1G"
ram.runtime = "512M"



[install]
  [install.domain]
    type="domain"
  [install.path]
    type="path"
    default="/myddleware"

[configuration]
  [configuration.env.panel]
    name = "Myddleware configuration"
    [configuration.env.panel.vars]
      mailer_url.type = "string"
      mailer_url.help = "SMTP URL for outgoing emails"
      app_debug.type = "boolean"
      app_debug.default = false

[resources]
  [resources.sources.main]
    url="https://github.com/Myddleware/myddleware/archive/refs/tags/v4.2.2.tar.gz"
    sha256="8319bb7ef8c62eb61963f90119e85f2908837c904c5ecd3853fc8726bf765272"

  [resources.system_user]
  [resources.install_dir]
  [resources.data_dir]

  [resources.apt]
    packages=["php8.4","php8.4-fpm","php8.4-cli","php8.4-mysql","php8.4-xml","php8.4-mbstring","php8.4-zip","php8.4-curl","php8.4-gd","nodejs","npm","yarnpkg","mariadb-server","git"]
