packaging_format = 2

id = "myddleware"
name = "Myddleware"
description.en = "Open-source data integration platform"
version = "4.2.2~ynh7"

maintainers = ["verzog"]

[upstream]
license = "AGPL-3.0-only"
website = "https://myddleware.com"
code = "https://github.com/Myddleware/myddleware"

[integration]
yunohost = ">= 12.0"
helpers_version = "2.1"
architectures = "all"
multi_instance = true
ldap = "not_relevant"
sso = "not_relevant"
disk = "200M"
ram.build = "512M"
ram.runtime = "512M"

[resources]

  [resources.sources.main]
  url = "https://github.com/Myddleware/myddleware/archive/refs/tags/v4.2.2.zip"
  sha256 = "bdf1dc09269d0749f4de1eea9c12fe60620c7e02b8a27b932dd1120cc3c7480c"

  [resources.system_user]

  [resources.install_dir]

  [resources.data_dir]

  [resources.permissions]
  main.url = "/"

[install]
  [install.domain]
  type = "domain"

  [install.path]
  type = "path"
  default = "/myddleware"

  [install.init_main_permission]
  type = "group"
  default = "visitors"
